<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stasbar.com.planlekcji4h" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="Ustawienia" >
        </activity>
        <service
            android:name=".TimeLeftService"
            android:exported="false"/>

    </application>

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
